.section {
  padding-left: 25px;
  margin-bottom: 5px;
  width: 40%;
  border: 2px solid blue;
  border-radius: 8px;

  &__title {
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 600;
  }

  &__user {
    font-style: italic;
    color:rgb(41, 41, 80);
    text-shadow: 3px 3px 10px rgb(89, 89, 189);
  }

  &__green {

    color: green;
  }

  &__red {
    color: red;
  }
  &:hover {
    background-color:rgb(243, 239, 239);
  }
}